<DOCTYPE! html>
 
<html>
    <head>
    <link href="../css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../css/custom.css" rel="stylesheet"> 
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self-Checkout Machine</title>
    </head>

    <body>
        <nav class="navbar navbar-default">
        <div class="container">
            <h1 style="display: inline;" class="col-md-10">Payment (2/2)</h1>
            <a style="display: inline;" id="help-button" type="button" class="btn btn-danger col-md-2" onclick="playHelpSound()">Help</a>
        </div>
        </nav>
        
        
       <div class="container-fluid">
           <div class="row">
                  <div class="col-md-12">
          <h2 style="text-align: center;"> Make payment through the machine on the lighted platform</h2>
                </div>
                <br>
                </div>

                <div class="col-md-6 col-md-offset-3">
                <img width="600" height="450" controls src="../images/cashPayment.jpg">
                </img>
                </div>
               
        
               </div>
		<div id="sound-content">
					
		</div>
    <a hidden="hidden" href="end.html" type="button" accesskey="e">Payment</button>
    
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
	
	<script src="../js/main.js"></script>
	<script>
		window.onload = function(){
			if (localStorage.getItem('sound') == 'true')
				$('#sound-content').append("<audio style='display:none;' autoplay='true' src='../audio/payment3.mp3'>");
		}
	</script>
    
    
    </body>
    
    
    
</html>