<DOCTYPE! html>
 
<html>
    <head>
    <title> Payment </title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../css/custom.css" rel="stylesheet"> 
    
    </head>

    <body>

        <nav class="navbar navbar-default">
        <div class="container">
            <h1 style="display: inline;" class="col-md-10">Payment (1/2)</h1>
            <a style="display: inline;" id="help-button" type="button" class="btn btn-danger col-md-2">Help</a>
        </div>
        </nav>
    <div class="container-fluid">
        <div class='row'>
            <div class="col-md-8">
          <span id="totalAmount"></span>
                </div>
       </div>
        </div>
        
        <div class="container-fluid">
        
      
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Do you have any of these promotion cards?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <div class="row">
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../images/pioneer-generation-card.jpg">
      <div class="caption">
        <h4 style="text-align: center;">Pioneer Generation Card</h4>
        <p style="text-align: center;"> 15% off total bill</p>
        <p style="text-align: center;"  id="pioneerPrice"></p>
        <p><a onclick="changePprice()"id="pioneerTotal" href="#collapseTwo" aria-controls="collapseTwo" data-parent="#accordion" aria-expanded="false" aria-controls="scan" data-toggle="collapse" class="btn btn-primary center-block" role="button">Select</a></p>
      </div>
    </div>
  </div>
    
     <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../images/membership.png">
      <div class="caption">
        <h4 style="text-align: center;">Supermarket X Card</h4>
        <p style="text-align: center;"> 5% off total bill + 200 points</p>
        <p style="text-align: center;" id="membershipPrice"></p>
        <p><a onclick="changeMprice()" href="#collapseTwo" aria-controls="collapseTwo" data-parent="#accordion" aria-expanded="false" aria-controls="scan" data-toggle="collapse" class="btn btn-primary center-block" role="button">Select</a></p>
      </div>
    </div>
  </div>
    
    <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../images/passion.jpg">
      <div class="caption">
        <h4 style="text-align: center;">Passion Card</h4>
        <p style="text-align: center;"> 10% off total bill</p>
          <p style="text-align: center;" id="passionPrice"></p>
        <p><a onclick="changePaprice()" href="#collapseTwo" aria-controls="collapseTwo" data-parent="#accordion" aria-expanded="false" aria-controls="scan" data-toggle="collapse" class="btn btn-primary center-block" role="button">Select</a></p>
      </div>
    </div>
  </div>
        
        <div class="col-sm-6 col-md-3 ">
      <div class="thumbnail">
      <img src="../images/no-card.png">
      <div class="caption">
        <h4 style="text-align: center;">I don't have these!</h4>
        <p style="text-align: center;"> No applicable discount.</p>
        <p style="text-align: center;" id="noDiscount"></p>
        <p style="text-align: center;"><a onclick="changeNprice()" href="#collapseThree" aria-controls="collapseThree" data-parent="#accordion" aria-expanded="false" aria-controls="scan" data-toggle="collapse" class="btn btn-primary center-block" role="button">Select</a></p>
      </div>
      </div>
  </div>
       </div>
      </div>
    </div>
  </div>
            </div>
  
        <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Scan Your Promotion Card
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body"> 
            <div id="row">
                 <div class="col-sm-6 col-md-4">
                     <img src="../images/cardreader.jpg">
                     <div class="caption"><h4>Step 1</h4></div>
                </div>
                <div class="col-sm-6 col-md-4">
                     <img src="../images/cardreader2.jpg">
                     <div class="caption"><h4>Step 2</h4></div>
                </div>
                <a href="#collapseThree" aria-controls="collapseThree" data-parent="#accordion" aria-expanded="false" aria-controls="scan" data-toggle="collapse" class="btn btn-primary" role="button">Done</a>
                </div>   
      </div>
    </div>
  </div>
        
        
         <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Select Payment Method
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
         <div class="row">
                    <div class="col-sm-4 col-md-2 col-md-offset-1">
                        <div class="thumbnail">
                            <img height="93px" width="150px" src="../images/cash.jpeg">
                            <div class="caption">
                                <h4 style="text-align: center;">Cash</h4>
                                <br>
                                <p><a href="payment2.html" class="btn btn-primary center-block" role="button">Select</a></p>
                            </div>
                            </div>
                        </div>
    
                    <div class="col-sm-4 col-md-2">
                        <div class="thumbnail">
                            <img height="150px" width="150px" src="../images/nets.jpg">
                            <div class="caption">
                                <h4 style="text-align: center;">Nets</h4>
                                <br>
                                <p><a href="payment2.html" class="btn btn-primary center-block" role="button">Select</a></p>
                            </div>
                            </div>
                        </div>

                    <div class="col-sm-4 col-md-2">
                        <div class="thumbnail">
                            <img height="150px" width="150px" src="../images/credit.jpg">
                            <div class="caption">
                                <h4 style="text-align: center;">Credit/Debit Card</h4>
                                <br>
                                <p><a href="paymentCredit.html" class="btn btn-primary center-block" role="button">Select</a></p>
                            </div>
                            </div>
                        </div>

                          <div class="col-sm-4 col-md-2">
                        <div class="thumbnail">
                            <img height="150px" width="150px" src="../images/cashcard.jpg">
                            <div class="caption">
                                <h4 style="text-align: center;">Cash Card</h4>
                                <br>
                                <p><a href="payment2.html" class="btn btn-primary center-block" role="button">Select</a></p>
                            </div>
                            </div>
                        </div>
                     <div class="col-sm-4 col-md-2">
                        <div class="thumbnail">
                            <img height="150px" width="150px" src="../images/ezlink.jpg">
                            <div class="caption">
                                <h4 style="text-align: center;">EZ link Card</h4>
                                <br>
                                <p><a href="payment2.html" class="btn btn-primary center-block" role="button">Select</a></p>
                            </div>
						</div>
					</div>
					<div id="sound-content">
					
					</div>
         
                </div><!-----end of row-------->
      </div>
    </div>
  </div>
  </div>
  
    

    
    
    
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
	
	<script src="../js/main.js"></script>

	<script>
		window.onload = function(){
			if (localStorage.getItem('sound') == 'true')
				$('#sound-content').append("<audio style='display:none;' autoplay='true' src='../audio/payment1+2.mp3'>");
		}
	</script>
	
    </body>

</html>