<DOCTYPE! html>
 
<html>
    <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self-Checkout Machine</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../css/custom.css" rel="stylesheet"> 
    
    </head>

    <body>
    	<nav class="navbar navbar-default">
        <div class="container">
            <h1 style="display: inline;" class="col-md-10">Scan the items!</h1>
            <a style="display: inline;" id="help-button" type="button" class="btn btn-danger col-md-2" onclick="playHelpSound()">Help</a>
        </div>
        </nav>

        <div>
            <button hidden="hidden" onclick="scan()" accesskey="s">Scan</button>
            <button hidden="hidden" onclick="rescan()" accesskey="r">Scan same item</button>
        </div>

        <div class="container col-md-2">
        <img style="margin-top: 100px;" height="300px" width="200px" src="../images/scan.jpg">
        </div>

	    <div class="container col-md-10">          
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-6">Item Name</th>
                <th class="col-md-2">Amount ($)</th>
                <th class="col-md-2">Quantity</th>
                <th class="col-md-2">Price ($)</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <tr>
                <td id="item1">
                <input id="item-list1" class="col-md-12" onchange="inputItem(1)">
                </input>
                </td>
                <td id="amount1">-</td>
                <td id="quantity1">-</td>
                <td id="price1">-</td>
              </tr>
              <tr>
                <td id="item2">
                <input id="item-list2" class="col-md-12" onchange="inputItem(2)">
                </input>
                </td>
                <td id="amount2">-</td>
                <td id="quantity2">-</td>
                <td id="price2">-</td>
              </tr>
              <tr>
                <td id="item3">
                <input id="item-list3" class="col-md-12" onchange="inputItem(3)">
                </input>
                </td>
                <td id="amount3">-</td>
                <td id="quantity3">-</td>
                <td id="price3">-</td>
              </tr>
              <tr>
                <td id="item4">
                <input id="item-list4" class="col-md-12" onchange="inputItem(4)">
                </input>
                </td>
                <td id="amount4">-</td>
                <td id="quantity4">-</td>
                <td id="price4">-</td>
              </tr>
              <tr>
                <td id="item5">
                <input id="item-list5" class="col-md-12" onchange="inputItem(5)">
                </input>
                </td>
                <td id="amount5">-</td>
                <td id="quantity5">-</td>
                <td id="price5">-</td>
              </tr>
              <tr>
                <td id="item6">
                <input id="item-list6" class="col-md-12" onchange="inputItem(6)">
                </input>
                </td>
                <td id="amount6">-</td>
                <td id="quantity6">-</td>
                <td id="price6">-</td>
              </tr>
              <tr>
                <td id="item7">
                <input id="item-list7" class="col-md-12" onchange="inputItem(7)">
                </input>
                </td>
                <td id="amount7">-</td>
                <td id="quantity7">-</td>
                <td id="price7">-</td>
              </tr>
              <tr>
                <td id="item8">
                <input id="item-list8" class="col-md-12" onchange="inputItem(8)">
                </input>
                </td>
                <td id="amount8">-</td>
                <td id="quantity8">-</td>
                <td id="price8">-</td>
              </tr>
              <tr>
                <td id="item9">
                <input id="item-list9" class="col-md-12" onchange="inputItem(9)">
                </input>
                </td>
                <td id="amount9">-</td>
                <td id="quantity9">-</td>
                <td id="price9">-</td>
              </tr>
              <tr>
                <td id="item10">
                <input id="item-list10" class="col-md-12" onchange="inputItem(10)">
                </input>
                </td>
                <td id="amount10">-</td>
                <td id="quantity10">-</td>
                <td id="price10">-</td>
              </tr>
            </tbody>
          </table>

            <button class="btn btn-primary col-md-3" style="display: inline;" onclick="addItem()">Add more Item(s)</button>
            <button class="btn btn-danger col-md-1 col-md-offset-1" style="display: inline;" onclick="undo()">UNDO</button>
            <h4 class="col-md-4" style="text-align: right; display: inline;"><strong>TOTAL PRICE (SGD)</strong></h4>
            <h4 id="total" class="col-md-2" style="text-align: left; display: inline; color: red;"><strong>-</strong></h4>
            <br>
            <h3 class="col-md-6"></h3>
            <a href="weigh.html" class="btn btn-warning col-md-2" style="display: inline;">Back to weighing</a>
            <h4 class="col-md-1" style="display: inline; text-align: center;"><i>OR</i></h4>
            <a href="payment.html" class="btn btn-success col-md-3" style="display: inline;">Proceed to Payment</a>
        </div>
		
		<div id="sound-content">
					
		</div>

        <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/scan.js"></script>
		
		<script src="../js/main.js"></script>
	
		<script>
			window.onload = function(){
				if (localStorage.getItem('sound') == 'true')
					$('#sound-content').append("<audio style='display:none;' autoplay='true' src='../audio/scan.mp3'>");
			}
		</script>
	
    </body>

</html>