<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Self-Checkout Machine</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
	
	<link href="../css/main.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">

    <!--<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <h1 style="display: inline;" class="col-md-10">Do you need to weigh any items?</h1>
            <a style="display: inline;" id="help-button" type="button" class="btn btn-danger col-md-2" onclick="playHelpSound()">Help</a>
        </div>
    </nav>
    <div class="container">
        <br>
		<h3 style="text-align: center;">If you have any fresh foods without a barcode, please select <span style="color: green;">YES</span>!</h3>

		<div id="sound-content">
					
	</div>
    </div>
    <div class="container">
        <img class="col-md-6" src="../images/yes_weigh.jpg" height="350px" onclick="goToWeigh()">
        <img class="col-md-6" src="../images/no_weigh.jpg" height="350px" onclick="goToScan()">
    </div>
    <br>

    <div class="container" onclick="goToWeigh()">
        <a style="margin-left: 40px; font-size: 30px;" type="button" onclick="goToWeigh()" class="btn btn-success col-md-5">Yes</a>
        <a style="font-size: 30px;" type="button" onclick="goToScan()" class="btn btn-danger col-md-5 col-md-offset-1">No</a>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
	
	<script src="../js/main.js"></script>
	
	<script>
		window.onload = function(){
			if (localStorage.getItem('sound') == 'true')
				$('#sound-content').append("<audio style='display:none;' autoplay='true' src='../audio/weigh-or-scan.mp3'>");
		}
	</script>

</body>

</html>